[package]
name = "complexipy"
version = "0.3.2"
edition = "2021"
authors = ["Robin Quintero <rohaquinlop301@gmail.com>"]
license = "MIT"
description = "An extremely fast Python library to calculate the cognitive complexity of Python files, written in Rust."
readme = "README.md"
homepage = "https://github.com/rohaquinlop/complexipy"
documentation = "https://rohaquinlop.github.io/complexipy/"
repository = "https://github.com/rohaquinlop/complexipy"
exclude = ["/tests", ".github", ".gitignore", "targets"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "complexipy"
crate-type = ["cdylib"]

[dependencies]
csv = "1.3.0"
env_logger = "0.11.1"
ignore = "0.4.22"
indicatif = "0.17.8"
log = "0.4.20"
pyo3 = "0.19.0"
rayon = "1.8.1"
rustpython-parser = { git = "https://github.com/RustPython/Parser.git", rev = "9ce55aefdeb35e2f706ce0b02d5a2dfe6295fc57" }
tempfile = "3.10.0"
