[build-system]
requires = ["maturin>=1.4,<2.0"]
build-backend = "maturin"

[project]
name = "complexipy"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
dynamic = ["version"]

dependencies = ["typer[all]"]

[project.scripts]
complexipy = "complexipy.main:app"

[tool.maturin]
features = ["pyo3/extension-module"]
module-name = "complexipy.rust"
